/*

Julian Guillermo Zapata Rugeles 

CSS para interfazGeneral 


*/

body{
    background-color: white;
}

.interfaz-principal{
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 50%;
   
}


.items{
    display: grid;
    text-align: center;display: flex;
    flex-direction: column;
    align-items: center;
}


.lista-componentes{
    justify-content: center;
    width: 100%;
    text-align: center;
    color: black;
}




.titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}


.items h4{
    color: white;
    width: 80%;
    text-align: center;
    font-size: 20px;
    
}


.lista-componentes h4{
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    
}
.vista{
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}



.vista-componente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 80%;
   
}


.img-login{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: cornflowerblue;

}



.img-login .user-img{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;

}


.componente{
    margin-top: 20px;
    
}


.componente:hover{
    background-color: rgb(156, 154, 154);
}

.componente-activo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.componente-activo h4{
    margin-top: 10px;
    background-color:rgb(126, 42, 42);;
    color: white;
    width: 100%;
    margin-top: 0px;   
    padding: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}



.link-comp{
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color: black;
}