body{
    background-color: cornflowerblue;
}

.Login{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.contenedor-login{
    border-style: solid ;
    border-width: 1px;
    padding: 5px; 
    background-color: white;
    border-radius: 10px;
    width: 300px;
}
.contenedor-login h4{
    text-align: center;
    margin:auto;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
}

.form-login form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-width: 1px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.img-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
}

.img-login img{

    width: 150px;

}

.form-login form input{
    margin-top: 10px;
    height: 30px;
    width: 90%;
    border-radius: 5px;
    border-width: 1px;
    border-color: teal;
}

@media(max-width:400px){
    .contenedor-login{
        border-style: solid ;
        border-width: 1px;
        padding: 10px; 
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 80%;
    }
    
}